html {

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next W01', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #4a4a4a;
}

b {
    font-weight: bold;
}

li, ul {
    list-style: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

svg {
    max-height: 100%;
    max-width: 100%;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

h1 {
    font-size: 65px;
    color: #000;
    letter-spacing: 18.9px;
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 50px;
        letter-spacing: 14.5px;
        margin-top: -10px;
    }
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

a[role="button"] {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #4a4a4a;
    display: block;
    text-decoration: none;
    transition: background 0.3s linear;
}

a[role="button"]:hover,
a[role="button"]:active {
    background: #fbfbfb;
}

.hero-image {
    height: 446px;
    background-size: 1017px 446px;
    background: url('/img/hero.png') no-repeat center top;
    margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-image {
        background-image: url('/img/hero@2x.png');
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    .hero-image {
        background-position: 44% top;
    }
}

@media screen and (max-width: 680px) {
    .hero-image {
        background-position: 46% top;
    }
}

@media screen and (max-width: 520px) {
    .hero-image {
        background-position: 47% top;
    }
}

.box-single-col {
    max-width: 300px;
    text-align: center;
    margin: 38px auto 0;
}

@media screen and (max-width: 767px) {
    .box-single-col {
        margin-top: 25px;
    }
}

.box-single-col > h2 {
    color: #d50026;
    margin-bottom: 10px;

}

.box-single-col > p {
    margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .box-single-col > p {
        margin-bottom: 40px;
    }
}

.box-three-col {
    max-width: 1024px;
    margin: 80px auto 50px;
}

@media screen and (max-width: 767px) {
    .box-three-col {
        margin-top: 0px;
        margin-bottom: 55px;
    }
}

.box-three-col > img {
    margin: 0px auto 45px;
    display: block;
}

@media screen and (max-width: 767px) {
    .box-three-col > img {
        display: none;
    }
}

.box-three-col .box-item > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box-three-col .box-item > img {
    display: none;
}

@media screen and (max-width: 767px) {
    .box-three-col .box-item > img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 70px;
    }
}

.box-three-col .box-item {
    width: 33%;
    float: left;
    padding: 0 20px;
}

@media screen and (max-width: 767px) {
    .box-three-col .box-item {
        float: none;
        padding: 0 10px;
        width: auto;
        max-width: 320px;
        margin: 0 auto;
    }
}

.box-two-col {
    background: #38b7e5;
    color: #fff;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .box-two-col {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

.box-two-col .cf {
    max-width: 780px;
    margin: 0 auto;
}

.box-two-col > img {
    margin: 0px auto 40px;
    display: block;
}

@media screen and (max-width: 767px) {
    .box-two-col > img {
        display: none;
    }
}

.box-two-col .box-item {
    text-align: center;
    float: left;
    width: 50%;
    padding: 0 45px;
}

@media screen and (max-width: 767px) {
    .box-two-col .box-item {
        text-align: center;
        float: none;
        width: auto;
        padding: 0 10px;
        max-width: 320px;
        margin: 0 auto;
    }
}

.box-two-col .box-item > img {
    display: none;
}

@media screen and (max-width: 767px) {
    .box-two-col .box-item > img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 40px;
    }
}

.box-two-col .box-item > blockquote {
    font-size: 20px;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
    .box-two-col .box-item > p:last-child {
        padding-bottom: 40px;
    }
}
.box-logos {
    max-width: 500px;
    padding: 0 10px;
    margin: 50px auto;
    text-align: center;
}

.box-logos .box-item {
    float: left;
    width: 50%;
}

@media screen and (max-width: 767px) {
    .box-logos .box-item {
        float: none;
        width: auto;
    }
}

.box-logos .box-item > img {
    max-height: 130px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 30px 10px;
}

.box-single-col-alt {
    background: #5fb866;
    color: #fff;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.box-single-col-alt .wrapper {
    max-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}
